body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: #ff8c00;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }

  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fabd73;
  }
  
  textarea {
    max-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: orange; /* Detalhe laranja */
    color: #fff; /* Texto branco para contraste */
  }
  
  .btn:hover {
    background-color: #ff8c00; /* Tom mais claro de laranja no hover */
  }
  
  #resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }